/*-- SEO --*/
.seo_admin fieldset{
    margin-top: 0;
}
.seo_admin .char_counter {
    font-size: .9em;
    color: #888888;
}
form .seo_admin .char_counter input[type="text"]{
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    text-align: center;
}
.seo_admin .char_counter .text{
    display: inline-block;
}
.seo_admin .preview{
    font-family: Arial;
    border: solid 1px #e7e7e7;
    padding: .5em;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    display: block;
    max-width: 640px;
}
.seo_admin .preview .content{
    padding: .5em 1.5em;
}
.seo_admin .preview .result{
    max-width: 512px;
}
.seo_admin .preview h4{
    color: #1a0dab;
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}
.seo_admin .preview cite{
    color: #006621;
    font-size: 14px;
    font-style: normal;
    display: block;
    line-height: 1;
} 
.seo_admin .preview .meta_description_preview{
    color: #545454;
    font-size: small;
    line-height: 1.4
}
.seo_admin .fu_prefix{
    font-family: Consolas, monaco, monospace; 
}
.seo_admin .fu_prefix, .seo_admin .fu_sufix{
    margin-right: 0;
}
.seo_admin .fu_prefix .text{
    font-size: .85em;
    display: block;
    color: #555555;
    text-shadow: 1px 1px 1px #FFFFFF;
    padding: .54em .5em;
    background: #CCCCCC;
    border: solid 1px #AAAAAA;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
}
.seo_admin .highlight .fu_prefix .text{
    background-color: firebrick;
    text-shadow: 1px 1px 1px #4D0A0A;
    color: #FFFFFF;
}
.seo_admin .fu_sufix input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

