/*
Copyright (c) 2003-2016, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

body
{
	/* Font */
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: 12px;

	/* Text color */
	color: #333;

	/* Remove the background color to make it transparent */
	background-color: #fff;

	margin: 20px;
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;
}

blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img{
    width: 100%;
    max-width: 100%;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}
/*--------------------------------------------------------------- columnari --*/
.row:after, .row:before{
    content: "";
    display: table;
    clear: both;
}
.row{
    width: 100%;
    border: dashed 2px #DDDDDD;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f6f6f6;
}
*[class^="col-"],  ul[class^="col-"] > li{
    float: left;
    box-sizing: border-box;
    padding: 15px;
    border: dashed 2px silver;
    background-color: #FFFFFF;
    margin-left: -1px;
}
ul[class^="col-"]{
    float: none;
    padding: 0;
}
ul[class^="col-"] > li{
    float: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}
*:not(ul).col-80, ul.col-80 li{
    width: 80%;
}
*:not(ul).col-75, ul.col-75 li{
    width: 75%;
}
*:not(ul).col-70, ul.col-70 li{
    width: 70%;
}
*:not(ul).col-66, ul.col-66 li{
    width: 66.66%;
}
*:not(ul).col-60, ul.col-60 li{
    width: 60%;
}
*:not(ul).col-50, ul.col-50 li{
    width: 50%;
}
*:not(ul).col-40, ul.col-40 li{
    width: 40%;
}
*:not(ul).col-33, ul.col-33 li{
    width: 33.33%;
}
*:not(ul).col-30, ul.col-30 li{
    width: 30%;
}
*:not(ul).col-25, ul.col-25 li{
    width: 25%;
}
*:not(ul).col-20, ul.col-20 li{
    width: 20%;
}