@charset "utf-8";
/*--------------------------------------------------------------- normalize --*/
* {
    position: relative;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    position: relative;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0;
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0;
    padding: .35em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

/*-------------------------------------------------------------- font sizes --*/
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

abbr, acronym {
    border: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin-bottom: .5em;
    line-height: 1.2;
}

body {
    font-size: 1em;
}

/*--------------------------------------------------------------- principal --*/
html, body, input, textarea, select {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #333333;
}

a:link {
    color: #007fff;
    text-decoration: none;
}

a:visited {
    color: #609;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
}

/*------------------------------------------------------------------ sprite --*/
.table_scroller_container:before, .cover, .icon {
    display: block;
    background-image: url(../images/bg/sprite.png);
    background-size: 320px 240px;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

/*-------------------------------------------------------------- transition --*/
#main_nav a, .noticias ul.listado li > div {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

/*-------------------------------------------------------------------- main --*/
.wrap {
    max-width: 1190px;
    min-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
}

body, html {
    height: 100%;
}

#wrapper {
    min-height: 100%;
}

section {
    padding: 2em 0;
}

main {
    z-index: 0;
}

/*----------------------------------------------------------------- llistes --*/
.gal6, #main_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gal6, .gal6 li {
    width: 100%;
    min-height: 400px;
}

.gal6 li {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*----------------------------------------------------------------- banners --*/
.banner {
    min-width: 320px;
    min-height: 80px;
    background-color: #568c0a;
}

.banner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner img {
    display: block;
}

/*--------------------------------------------------------------- columnari --*/
.row:after, .row:before, #main_nav ul {
    content: "";
    display: table;
    clear: both;
}

.row, ul[class^="col-"] {
    margin-left: -15px;
    margin-right: -15px;
}

*[class^="col-"], ul[class^="col-"] > li {
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}

ul[class^="col-"] {
    padding: 0;
    float: none;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

ul[class^="col-"] > li {
    float: none;
    margin: 0;
}

*[class^="col-"].noRp {
    padding-right: 0;
}

*[class^="col-"].noLp {
    padding-left: 0;
}

.col-100:not(ul), ul.col-100 li {
    width: 100%;
}

.col-80:not(ul), ul.col-80 li {
    width: 80%;
}

.col-75:not(ul), ul.col-75 li {
    width: 75%;
}

.col-70:not(ul), ul.col-70 li {
    width: 70%;
}

.col-66:not(ul), ul.col-66 li {
    width: 66.66%;
}

.col-60:not(ul), ul.col-60 li {
    width: 60%;
}

.col-50:not(ul), ul.col-50 li {
    width: 50%;
}

.col-40:not(ul), ul.col-40 li {
    width: 40%;
}

.col-33:not(ul), ul.col-33 li {
    width: 33.33%;
}

.col-30:not(ul), ul.col-30 li {
    width: 30%;
}

.col-25:not(ul), ul.col-25 li {
    width: 25%;
}

.col-20:not(ul), ul.col-20 li {
    width: 20%;
}

/*------------------------------------------------------------------ paginas --*/
/*.paginas .content *[class^="col-"]:first-child{
    padding-left: 15px;
}
.paginas .content  *[class^="col-"]:last-child{
    padding-right: 15px;
}*/

/*------------------------------------------------------------------ varios --*/
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-position: 1000px 1000px
}

.hidden {
    display: none;
}

q, blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

img {
    width: 100%;
}

.aLeft {
    text-align: left;
}

.aCenter {
    text-align: center;
}

.aRight {
    text-align: right;
}

.obfuscate_mail::after {
    content: attr(data-domain);
}

.obfuscate_mail::before {
    content: attr(data-user);
}

/*------------------------------------------------------------------- share --*/
.share {
    margin: 1.5em 0;
    font-style: italic;
    color: #777777;
}

/*------------------------------------------------------------- breadcrumbs --*/
.breadcrumbs {
    margin-bottom: 2em;
    padding-bottom: .5em;
    border-bottom: solid 1px #DDDDDD;
}

.breadcrumbs .title {
    font-style: italic;
    color: #888888;
    font-size: .8em;
}

.breadcrumbs .title:after {
    content: ": ";
}

.breadcrumbs a:after, .breadcrumbs .miga:after {
    content: "/";
}

/*------------------------------------------------------------------- forms --*/
.formStyle input[type="password"], .formStyle input[type="text"], .formStyle input[type="number"], .formStyle input[type="email"], textarea, .formStyle select {
    border: solid 1px #DEDEDE;
    border-radius: .25em;
    padding: 0 10px;
    width: 100%;
    height: 2.2em;
    color: #111111;
    box-sizing: border-box;
}

.formStyle input[type="password"]:focus, .formStyle input[type="text"]:focus, .formStyle textarea:focus, .formStyle select:focus {
    border-color: silver;
    box-shadow: 0px 0px 4px #e7e7e7;
}

.formStyle textarea {
    padding-top: 0.5em;
    min-height: 5em;
    max-height: 10em;
    resize: vertical;
}

.formStyle label {
    display: block;
    margin: 0 0 .25em 0;
    color: gray;
}

.formStyle input[type="button"], .formStyle input[type="submit"], .formStyle button {
    display: inline-block;
    vertical-align: top;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#DEDEDE)); /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FEFEFE, #DEDEDE); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FEFEFE, #DEDEDE); /* IE 10 */
    background: -ms-linear-gradient(top, #FEFEFE, #DEDEDE); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FEFEFE, #DEDEDE);
    border-radius: .25em;
    text-align: center;
    color: #333333;
    padding: 0.4em 1.2em;
    border: solid 1px silver;
    border-bottom-width: 2px;
    box-sizing: border-box;
}

.formStyle input[type="button"]:not(.disabled):not(.loading):hover, .formStyle input[type="submit"]:not(.disabled):not(.loading):hover, .formStyle button:not(.disabled):not(.loading):hover {
    background: #e7e7e7;
    border-bottom-width: 1px;
    border-top-width: 2px;
}

.formStyle input[type="button"].disabled, .formStyle input[type="submit"].disabled, button.disabled {
    background: #FEFEFE;
    border-color: #DEDEDE;
    color: gray;
    cursor: default;
}

.formStyle input[type="submit"].loading, .formStyle input[type="button"].loading, button.loading {
    background-image: url(../images/icons/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
}

.checkbox input {
    float: left;
    position: relative;
    top: .3em;
    margin-right: .3em;
}

/*------------------------------------------------------------------- alert --*/

.alert {
    display: none;
    padding: 0.4em;
    border-radius: 0.4em;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.alert.ok {
    background: #E1FFE1;
    border-color: #438743;
}

.alert.notok {
    background: #FFFFCC;
    border-color: #FFCC99;
}

.alert.catastrofe {
    background: #FFDDDD;
    border-color: #E83131;
}

.alert.ok, .alert.ok strong {
    color: #003300;
}

.alert.catastrofe, .alert.catastrofe stronge {
    color: #990000;
}

.alert.notok, .alert.notok strong {
    color: #DD5800;
}

.highlight input, .highlight textarea, .highlight select {
    box-shadow: 0px 0px 4px firebrick;
}

.highlight label {
    color: firebrick;
    font-weight: bold;
}

/*---------------------------------------------------------- editor content --*/
.editor_content iframe {
    width: 100% !important;
}

.editor_content li {
    margin-bottom: .5em;
}

.editor_content em, .editor_content i {
    color: #999999;
}

.editor_content h2, .editor_content h3 {
    color: black;
    font-size: 1.2em;
}

.editor_content h3 {
    font-size: 1em;
}

/*---------------------------------------------------------------- main nav --*/
.launcher {
    display: none;
}

#main_header {
    z-index: 10;
}

#main_nav > ul {
    width: 100%;
}

#main_nav ul {
    display: block;
}

#main_nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#main_nav li:hover > ul {
    display: block;
}

#main_nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
}

#main_nav ul ul li {
    display: block;
}

#main_nav ul ul ul {
    top: 0;
    left: 100%;
}

#main_nav ul ul a, #main_nav ul ul p {
    white-space: nowrap;
    word-break: keep-all;
}

#main_nav .selected > a:link, #main_nav .selected > a:visited {
    color: #CC9900;
}

#main_nav a {
    padding: .25em;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*--------------------------------------------------------------- fonts --*/

@font-face {
    font-family: "icons";
    src: url("../fonts/icons.eot");
    src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: "icons" !important;
    background: none;
    text-indent: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\61";
}

.icon-arrow-dropdown:before {
    content: "\62";
}

.icon-arrow-dropleft:before {
    content: "\63";
}

.icon-wrench:before {
    content: "\64";
}

.icon-bullhorn:before {
    content: "\65";
}

.icon-calendar:before {
    content: "\66";
}

.icon-clock:before {
    content: "\67";
}

.icon-email:before {
    content: "\68";
}

.icon-facebook:before {
    content: "\69";
}

.icon-gplus:before {
    content: "\6a";
}

.icon-house:before {
    content: "\6b";
}

.icon-marker:before {
    content: "\6c";
}

.icon-newspaper:before {
    content: "\6d";
}

.icon-paper:before {
    content: "\6e";
}

.icon-phone:before {
    content: "\6f";
}

.icon-eye:before {
    content: "\70";
}

.icon-add:before {
    content: "\71";
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*--------------------------------------------------------------- al turron --*/
body {
    font-family: 'Poppins', sans-serif;
    color: #2B2C2C;
}

section {
    padding: 4em 0;
}

h1 {
    font-size: 1.6em;
    line-height: 1.6em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 22px;
}

.editor_content p {
    line-height: 28px;
}

img {
    width: auto;
    max-width: 100%;
}

a:link, a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, a:hover {
    color: #3E9F8B;
}

header {
    margin: 0 0 10px 0;
}

body:not(.home) .gal6, body:not(.home) .gal6 li {
    min-height: 150px;
}

p.social {
    position: absolute;
    top: 10px;
    right: 10px;
}

#main_header {
    margin: 0;
    height: 238px;
    background-color: white;
    border-bottom: 2px solid #3E9F8B;
}

#main_header .logo {
    width: 450px;
    padding: 50px 0;
}

#main_header > .wrap {
    background-image: url("../images/bg/skyline-jz.png");
    background-size: 590px 140px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

#main_nav, section.welcome, #main_footer {
    z-index: 9;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

#main_nav a, #main_nav p:not(#main_launcher) {
    padding: 20px;
    text-transform: uppercase;
    color: #A1A1A1;
    display: inline-block;
    margin: 0;
    font-size: 16px;
}

#main_nav .selected > a:link, #main_nav .selected > a:visited, #main_nav a:hover {
    color: #3E9F8B;
    text-decoration: none;
}

#main_nav ul ul {
    -webkit-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

#main_nav ul ul li a {
    padding: 15px 20px;
    border-top: 1px solid #7f7f7f;
    display: block;
}

#main_launcher {
    background-color: #3e9f8b;
    color: white;
    line-height: 45px;
    text-indent: 15px;
    text-transform: uppercase;
    z-index: 100;
    cursor: pointer;
    margin: 0;
}

#main_nav .icon.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 22px 14px 21px;
    display: none;
    color: #A1A1A1;
}

#main_nav button.icon.dropdown {
    z-index: 15;
    border: none;
}

#main_nav li:hover div {
    display: block;
}

#main_launcher:focus {
    outline: none
}

#main_launcher span,
#main_launcher span:before,
#main_launcher span:after {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    background-color: white;
}

#main_launcher span:before {
    top: -10px
}

#main_launcher span:after {
    bottom: -10px
}

#main_launcher span {
    display: inline-block;
    position: relative;
    position: absolute;
    right: 10px;
    top: 20px;
}

#main_launcher span,
#main_launcher span:before,
#main_launcher span:after {
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#main_launcher.active span {
    background-color: transparent
}

#main_launcher.active span:before,
#main_launcher.active span:after {
    top: 0
}

#main_launcher.active span:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#main_launcher.active span:after {
    top: 10px;
    -moz-transform: translatey(-10px) rotate(-45deg);
    -ms-transform: translatey(-10px) rotate(-45deg);
    -o-transform: translatey(-10px) rotate(-45deg);
    -webkit-transform: translatey(-10px) rotate(-45deg);
    transform: translatey(-10px) rotate(-45deg)
}

#main_footer .copy {
    background-color: #434343;
    color: white;
}

#main_footer .copy p, #main_footer .copy a {
    color: white;
    margin: 0;
}

#main_footer h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

#main_footer p {
    line-height: 22px;
}

section.home {
    overflow: hidden;
    padding: 0;
    background-color: #F2F9F7;
}

.box {
    padding: 2em 1em;
    border: 1px dashed #A1A1A1;
}

#sidebar .box {
    padding: 1em .5em;
}

.gestionamos-seguro h2, .administracion-fincas h2 {
    color: #2B2C2C;
}

#sidebar .gestionamos-seguro, #sidebar .administracion-fincas {
    margin-bottom: 15px;
}

#sidebar .gestionamos-seguro h3, #sidebar .administracion-fincas h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

#sidebar .table {
    display: table;
}

#sidebar .row.width {
    width: 50px;
}

#sidebar .row {
    display: table-cell;
    vertical-align: middle;
}

.round.icon {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 100%;
    border: 3px solid #3E9F8B;
    padding: 30px;
    margin-top: 20px;
}

#sidebar .row .round.icon {
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 15px;
    margin: 0 20px 0 10px;
}

.round.icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px #A1A1A1;
    opacity: 1;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-style: preserve-3d;
}

.home_sec .box h2, .home_sec .box p, .home_sec .box {
    text-align: center;
}

.box a {
    display: block;
}

.box a:hover .round.icon:after {
    -webkit-animation: sonarEffect 1s ease-out;
    animation: sonarEffect 1s ease-out;
}

section.home .slides {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -370px;
    overflow: hidden;
    background-color: #3E9F8B;
}

section.home section.noticias {
    padding: 2em 0;
}

section.home section.noticias ul.listado {
    padding: 0 2em 0 0;
    margin: 0;
}

section.home .slides .slide {
    display: block;
    opacity: .3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg/contacta.jpg);
}

section.home .content {
    min-height: 465px;
}

section.info > .wrap {
    background-image: url(../images/bg/skyline-jz.png), url(../images/logo-footer.png);
    background-size: 590px 140px, 200px 144px;
    background-repeat: no-repeat;
    background-position: 100% 10%, 62% 100%;
}

section.copy {
    padding: 1em 0;
}

/*#main_header .top {
    display: table;
    width: 100%;
}

#main_header .logo, #main_nav {
    display: table-cell;
    vertical-align: middle;
}*/

/*-------------------------------------------------------------- noticias --*/
.noticias ul.listado, .noticias ul.listado li {
    margin-bottom: 2em;
    list-style: none;
}

.home .noticias ul.listado li {
    margin-bottom: 1.5em;
}

.home .noticias ul.listado li:hover > div {
    margin-left: 1em;
}

.noticias .primary_btn {
    font-size: 18px;
    font-weight: 600;
    color: #3E9F8B;
}

.noticias li {
    margin-bottom: 15px;
}

.noticias .noticias-list h3 {

}

.noticias .noticias-list ul.listado li > div {
    display: block;
}

.noticias-list ul.listado li a {
    color: #3E9F8B;
}

.noticias ul.listado li > div {
    display: inline-block;
    background-color: white;
    padding: 5px 15px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #3E9F8B;
}

.noticias ul.listado h3 {
    font-weight: 600;
    color: #2B2C2C;
    font-size: 14px;
    line-height: 22px;
}

.noticias li a:hover {
    text-decoration: none;
}

.noticias .categoria, .content time {
    font-size: 12px;
    color: white;
    display: inline-block;
    padding: 0 5px;
    line-height: 15px;
    margin-bottom: 10px;
    background-color: #888888;
}

.content time {
    background-color: #90949c;
    line-height: 20px;
}

.noticias li a time {
    display: block;
    margin-top: 5px;
    font-weight: 400;
}

.noticias li a time, .noticias li a .icon {
    font-size: 13px;
    line-height: 13px;
}

/*-------------------------------------------------------------- Oficina virtual --*/
.logout {
    position: absolute;
    top: 0;
    right: 15px;
}

.logout a {
    color: #A1A1A1;
}

#login_form, #incidencia_add_form {
    max-width: 320px;
    margin: 0 auto;
    padding: 2em;
}

#incidencia_add_form {
    max-width: 480px;
}

#contact_form input[type=submit],
#login_form button, #login_form a.button, #login_form input[type=submit],
#incidencia_add_form button, #incidencia_add_form a.button, #incidencia_add_form input[type=submit],
.button.primary {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    border: none;
    background: #3E9F8B;
    color: white;
    padding: .5em .8em;
    border-radius: .3em;
    position: relative;
    box-shadow: 0 4px 0 0 #36806d, 0 6px 6px 3px rgba(0, 0, 0, .15);
    float: right;
    clear: both;
}

#contact_form input[type=submit]:hover,
#login_form button:hover, #login_form a.button:hover, #login_form input[type=submit]:hover,
#incidencia_add_form button:hover, #incidencia_add_form a.button:hover, #incidencia_add_form input[type=submit]:hover {
    top: 2px;
    box-shadow: 0 2px 0 0 #3E9F8B, 0 4px 6px 3px rgba(0, 0, 0, .15);
}

#login_form fieldset, #incidencia_add_form fieldset {
    padding: 2em;
    border: solid 1px #e7e7e7;
    background-color: white;
    border-radius: .6em;
}

.comunidades h1 {
    font-size: 14px;
}

.comunidades h2 {
    /*font-size: 14px;*/
    color: #2B2C28;
}

.comunidades .red {
    background-color: #f44236 !important;
}

.comunidades .orange {
    background-color: #de6200 !important;
}

.comunidades .box .circle {
    border-radius: 100%;
    height: 120px;
    width: 120px;
}

.comunidades .box .circle [class^="icon-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    line-height: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.comunidades .boxer {
    display: table;
    width: 100%;
}

.comunidades .boxer .box.big {
    display: table-cell;
    width: 70%;
}

.comunidades .boxer .box.small {
    display: table-cell;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border: none;
}

.comunidades .boxer .button.primary {
    font-size: 20px;
    line-height: 1.3;
    padding: 30px 0;
}

.comunidades .button.primary .icon-add {
    font-size: 58px;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
}

.comunidades .box {
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    margin-bottom: 1em;
}

.comunidades .box > div {
    display: table-cell;
    vertical-align: middle;
}

.comunidades .box > div:first-child {
    width: 140px
}

.comunidades .proveedores header {
    margin-bottom: 1em;
}

.comunidades .menu-oficina h4 {
    font-size: 20px;
}

.list_msk {
    overflow-x: auto;
    padding-bottom: 1em;
}

.list_msk.dragging {
    overflow: hidden;
}

.list_msk table {
    /*min-width: 768px;*/
}

/*------------------------------------------------------------------ tables --*/
.list {
    border-spacing: 0;
    width: 100%;
    background-color: white;
    border: solid 1px #E7E7E7;
    table-layout: fixed;
}

.list td, .list th {
    padding: 0;
}

.list th {
    text-align: left;
    /*font-weight: normal;*/
    color: #666666;
    padding: .7em 0;
    font-size: .9em;
}

.list th.aCenter {
    text-align: center;
}

.list th:first-child, .list td:first-child {
    font-size: .8em;
    color: #999999;
    padding: .8em .9em;
    width: 2em;
}

.list th:last-child, .list td:last-child {
    font-size: .8em;
    color: #999999;
    padding: .8em .9em;
    width: 2em;
}

.list thead {
    padding: 0 1em;
    border-bottom: solid 1px #E7E7E7;
}

.list tfoot {
    padding: 0 1em;
    border-top: solid 1px #E7E7E7;
}

.list tbody tr:hover {
    background-color: #F1F1F1;
}

.list.row_options tr th:last-child {
    width: 5em;
}

.list.row_options tr td:last-child {
    text-align: right;
}

.list.row_options tr td:last-child a {
    display: inline-block;
    margin-right: .5em;
}

table tr td {
    padding: 5px 5px 0 5px;
}

.datos-comunidad table tr td:first-child {
    text-align: right
}

table tr td p {
    margin: 0;
}

/*-------------------------------------------------------------- Estados --*/

.estado {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

a.estado:hover,
a.estado:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.estado:empty {
    display: none;
}

.estado, .estado.default {
    background-color: #777;
}

.estado.default[href]:hover,
.estado.default[href]:focus {
    background-color: #5e5e5e;
}

.estado.en-curso {
    background-color: #337ab7;
}

.estado.en-curso[href]:hover,
.estado.en-curso[href]:focus {
    background-color: #286090;
}

.estado.terminado {
    background-color: #5cb85c;
}

.estado.terminado[href]:hover,
.estado.terminado[href]:focus {
    background-color: #449d44;
}

.estado.stand-by {
    background-color: #5bc0de;
}

.estado.stand-by[href]:hover,
.estado.stand-by[href]:focus {
    background-color: #31b0d5;
}

.estado.pendiente {
    background-color: #f0ad4e;
}

.estado.pendiente[href]:hover,
.estado.pendiente[href]:focus {
    background-color: #ec971f;
}

.estado.danger {
    background-color: #d9534f;
}

.estado.danger[href]:hover,
.estado.danger[href]:focus {
    background-color: #c9302c;
}

/*-------------------------------------------------------------- btn --*/
.btn {
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: .25em;
    padding: .8em 2em;
    position: relative;
    text-decoration: none;
    font-size: 1.1em;
}

.btn.primary {
    background-color: #3E9F8B;
    box-shadow: 0 4px 0 0 #376e5a;
    color: white;
}

.btn.primary:not(.disabled):hover, a:not(.disabled):hover .btn.primary {
    top: 2px;
    box-shadow: 0 2px 0 0 #376e5a;
    text-decoration: none;
}

.btn.primary:not(.disabled):active, a:not(.disabled):active .btn.primary {
    top: 4px;
    box-shadow: 0 4px 2px 1px #376e5a inset;
}

.btn.disabled {
    opacity: .5;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-------------------------------------------------------------- responsive --*/
@media all and (max-width: 1080px) {
    #main_header > .wrap {
        background-size: 40%;
    }

    section.info > .wrap {
        background-size: 440px, 200px;
    }

    .noticias-list ul.listado li {
        width: 100%;
    }

    #sidebar .row .round.icon {
        margin: 0 10px 0 0;
    }

    #sidebar .gestionamos-seguro h3, #sidebar .administracion-fincas h3 {
        font-size: 15px;
        line-height: 15px;
    }
}

@media all and (max-width: 768px) {
    body {
        font-size: .85em;
    }

    body:not(.home) #slidexou_portada {
        display: none;
    }

    section {
        padding: 2em 0;
    }

    #main_header {
        height: inherit;
    }

    #main_header .logo {
        width: 280px;
        padding: 10px 0;
        margin: 0 auto;
    }

    #main_header > .wrap, section.info > .wrap {
        background-image: none;
    }

    /*-- nav --*/
    #main_nav > ul {
        width: auto;
        display: none;
    }

    #main_nav .icon.dropdown {
        display: block;
    }

    #main_nav > .wrap {
        padding: 0;
        min-width: 320px;
    }

    #main_nav a, #main_nav p:not(#main_launcher) {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ccc;
        line-height: 16px;
    }

    #main_nav ul {
        display: none;
    }

    #main_nav ul li {
        display: block;
    }

    #main_nav li:hover > ul {
        display: none;
    }

    #main_nav ul ul {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        top: inherit;
        left: inherit;
    }

    #main_nav ul ul li a {
        border-top: none;
        border-left: 8px solid #7f7f7f;
    }

    #main_launcher {
        display: block;
    }

    #main_footer .copy p {
        text-align: center;
    }

    .box {
        margin-bottom: 15px;
    }

    /*-- content --*/
    *[class^="col-"]:not(ul), ul[class^="col-"] li {
        width: auto;
    }

    *[class^="col-50"]:not(ul), #slidexou_portada + section > div > div *[class^="col-"]:not(ul) {
        width: 100%;
    }

    .col-20:not(ul), ul.col-20 li, .col-25:not(ul), ul.col-25 li {
        width: 50% !important;
    }

    /*-- tables --*/
    .fake_scroller, .fake_scroller div {
        height: 16px;
    }

    .fake_scroller, .table_scroller {
        width: 100%;
        overflow-x: auto;
        border-left: solid 1px #DDDDDD;
        border-right: solid 1px #DDDDDD;
    }

    .table_scroller_container {
        padding: 0 0 16px 0;
    }

    .table_scroller_container:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        margin: 0 auto;
        background-position: -34px 0;
    }

    .table_scroller_container .icon.scroll {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 49%;
        transform: translateX(-100%);
        top: 0;
        opacity: .25;
        /*background-color: black;*/
        background-position: 0 0;
    }

    .table_scroller_container .icon.scroll.right {
        left: auto;
        right: 49%;
        transform: translateX(100%);
        background-position: -17px 0;
    }

    .table_scroller_container .icon.scroll.active {
        opacity: 1;
    }

    .table_scroller {
        padding: 10px 0;
    }
}

/*sonar effect*/
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}